<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  li {
  display: block;
  float: right;
  margin-right: 20px;
  }
  img {
    height: 400pt;
    width : 900pt;
    align-items: center;
  }
  .home {
    flex-direction: column;
  }
  </style>
</head>
<body>
  <div class="home">

    <div>
      <ul>
        <li><h3><a href="/login">Login</a></h3></li>
        <li><h3><a href="/register">Register</a></h3></li>
        <li><img src="https://www.jejumedia.com/wp-content/uploads/2018/01/Social-Networking-Network.jpg"></li>
        
      </ul>
  
    </div>
  </div>
</body>
</html>