<!DOCTYPE html>
<%- include('partials/header', {title: "Home Page"}) %> 
<style>
    .form {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        margin: 30px;
        padding: 20px;
    }
</style>

</head>
<body>
  <%-include("partials/navbars/guest.ejs")%>
  <div class="form">
    <h1>Login</h1>
    <form method="post" action="/login">
      <label for="fname">Email</label><br>
      <input type="text" id="fname" name="email" value=""><br>
      <label for="lname">Password</label><br>
      <input type="password" id="lname" name="password" value=""><br><br>
      <button>Submit</button>
    </form>

    <%if (newErrors) {%>
      <%newErrors.forEach(el => {%>
        <P>
          <%=el%>
        </P>
      <%});%>
      <%}%> 
  </div>
</body>
</html>